@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.gradient-custom-2 {
  background: #063554;
  
  background: -webkit-linear-gradient(to right, #008AED, #06887A, #0D850B);

  background: linear-gradient(to right, #008AED, #06887A, #0D850B);
  }

.login-card{
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
  
.btn-login{
  background-color: #063554!important;
  color: #fff!important;
  /* width: 100px; */
  padding: 10px 30px!important;
  border-radius: 100px!important;
  font-size: 16px;
  font-family: "Rubik", "Sans-serif";
  font-weight: 500!important;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 400;
}
.btn-login:hover{
  background-color: #12537d!important;
}
.btn-login:focus{
  box-shadow: none!important;
}

.header-regist{
  width: 100%;
  border-radius: 0.25em;
}
.header-regist2{
  width: 100%;
  text-align: center;
}
.img-logo{
  height: 50px;
  align-items: center;
}
.text-login{
  font-size: 16px;
  font-family: "poppins", "Sans-serif";
}
.text-header{
  font-size: 20px;
  font-family: "Rubik", "Sans-serif";
  margin-bottom: 0!important;
}
.text-header2{
  margin-top: -50px!important;
}
.regist{
  font-family: "poppins", "Sans-serif";
}


  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }

  /* btn: 28 */