/* halaman login */
.body-login {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url(http://bpsdm.jabarprov.go.id/admin/assets/img_banner/banercu11.png);
  background-size: cover;
  align-items: center;
  background-repeat: no-repeat;
}

.login {
  margin-top: 70px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 500px;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 5%;
  font-size: 20px;
}

.login h3 {
  margin: 0 0 20px;
  width: 100%;
  margin-bottom: 25px;
  font-family: 'Rubik', sans-serif;
  font-size: 50px;
  color: rgb(39, 39, 135);
}

.login .input-group {
  position: relative;
  width: 100%;
  margin-bottom: 25px;
}

.login .input-group input {
  height: 50px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 10px;
  border: 3px solid rgb(39, 39, 135);
  border-radius: 10px;
}

.login .input-group label {
  position: absolute;
  top: 12px;
  left: 20px;
  padding: 0px;
  text-transform: capitalize;
  background-color: #fff;
  transition: 0.5s;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
}

.login .remember label{
  font-family: 'Rubik', sans-serif;
  font-size: 22px;
}

.login .remember input[type="checkbox"]{
  height: 20px;
  width: 20px;
  box-sizing: border-box;
}

.login .input-group input{
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
}

.login .input-group input:focus~label,
.login .input-group input:valid~label {
  top: -15px;
  left: 20px;
  font-size: 15px;
  background-color: rgb(184, 184, 227);
  padding: 2px 6px;
  border: 1px solid rgb(39, 39, 135);
  border-radius: 5px;
}

.login .input-group input[type="submit"] {
  background-color: rgb(39, 39, 135);
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  width: 35%;
  transition: 0.5s;
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  color: #fff;
}

.login .input-group input[type="submit"]:hover {
  width: 100%;
  /* background-color: rgb(184, 184, 227); */
  color: #fff;
}

.login .regis p{
  font-family: 'Rubik', sans-serif;
  font-size: 22px;
}

.btn-login{
  margin-top: 10px;
}
